av
typed-argument-parser
hydra-core
einops
rich
tqdm
scipy
h5py
kornia
sophuspy
opencv-python
numpy<2
matplotlib
imageio
trimesh
huggingface_hub
python-box[all]~=7.0
timm
wandb
transformers
colorlog
hydra_zen
ffmpeg
wis3d
ultralytics
pytorch_lightning

pytorch3d @ https://dl.fbaipublicfiles.com/pytorch3d/packaging/wheels/py310_cu121_pyt230/pytorch3d-0.7.6-cp310-cp310-linux_x86_64.whl
